{{ radius_admin_user }}  Cleartext-Password := "{{ radius_admin_password }}"
       Service-Type = NAS-Prompt-User,
       Cisco-AVPair = "shell:priv-lvl=15"

{{ radius_user_user }}    Cleartext-Password := "{{ radius_user_password }}"
        Service-Type = NAS-Prompt-User,
        Cisco-AVPair = "shell:priv-lvl=1"
